body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #2f2f2f;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}
/* place nav on top of screen */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: #2f2f2f;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.nav_link {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.nav_link:hover {
  color: #3975a2;
}

.logo {
  width: 110px;
  height: 110px;
  /* margin-right: 100px; */
  margin-top: 25px;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  flex-wrap: wrap-reverse;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  z-index: 4;
}

a,
a:visited {
  color: #fff;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  font-size: 22px;
  padding: 1px;
  border-radius: 0.2rem;
  background-color: aliceblue;
}

label {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
button {
  margin-top: 0.5rem;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  background: #212121;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #3975a2;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  align-items: center;
}

.bt-wrapper2 {
  display: flex;

  padding: 0 20px;

  margin-top: 1rem;
}

.back {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: all 250ms;
  overflow: hidden;
}

.forward {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: all 250ms;
  overflow: hidden;
}



.back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: rgb(163, 69, 69);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: medium;
}

.line {
  display: inline-block;
}

/* style the search component to display a screen with airtport input, date, passengers, and then a box for the checkboxes */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_form {
  flex-grow: 1;
  padding-bottom: 1rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(72, 73, 79);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  position: relative;
  margin: 10px;
}

.form-group-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.category-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.italic {
  font-style: italic;
  color: rgb(23, 174, 10);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3975a2;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* display the list of results each column should only display 20 items */

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
}

.results_list {
  align-items: center;
  justify-content: space-around;
  background-color: #2f2f2f;
}

.results-title {
  margin-top: 30px;
}

#Time {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #fff;
}

.avinode-search {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2px;
}

.text-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  margin-top: 30px;
}

.form-control-pax {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  background-color: #2f2f2f;
}


.roundtrip-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  margin-top: 30px;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  margin-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 9999;
}

.login-title2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 9999;
}

.login-input {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  margin-top: 30px;
}

.need-account {
  font-size: 0.7rem;
}

.login-btn {
  margin-top: 2rem;
  padding: 0.5rem;
}

#confirm_pwd {
  margin-top: 0.5rem;
}

.logout-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: .6rem;
  border-radius: .2rem;
}

.logout-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: .2rem;
  background-color: #a23939;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
